 .field {
     margin-top: 6px;
     display: grid;
     grid-template-columns: repeat(3, 100px);
     grid-template-rows: repeat(3, 100px);
     gap: 6px;
 }


 .item {
     background-color: #fff;
     height: 100%;
     width: 100%;
     transition: .3s;
     color: rgb(25, 0, 255);
     border-radius: 4px;
 }

 .item:not(.disabled):hover {
     background-color: #f1f1f1;
     cursor: pointer;


 }

 .hint {
     margin-top: 50px;
     color: #212121;
     text-align: center;
     padding: 12px;
     font-family: sans-serif;
     font-weight: 400;
     font-size: 18px;


 }

 .container {
     width: fit-content;
     background-color: #FFE79E;
     border-radius: 4px;

 }
 .disabled{
    background-color: aquamarine;
 }

 .ellipse,.cross{
    height: 100px;
    width: 100px;
    margin: 0 auto;
 }